<%= filter_section.render do -%>
  <div class="glyph_filter_wrapper">
    <div class="glyph_filter">
      <%= all_tag %>
      <% each_glyph do |glyph| -%>
        <%= glyph_tag glyph %>
      <% end -%>
    </div>
  </div>
<% end -%>